.root {
  min-width: 320px;
  ::selection {
    color: white;
    background: $color-text;
  }

  &__body {
    display: flex;
    flex-flow: column;
  }

  &__body-layout {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    min-height: 100vh;
  }

  &__header {
    flex: none;
    position: relative;
    z-index: $zindex-fixed;

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: rem(60);
      box-shadow: 0 rem(2) rem(3) rgba(black, 0.15);
    }
  }

  &__main {
    flex: none;

    @include media-breakpoint-down(md) {
      margin-top: rem(60);
    }
  }

  &__footer {
    flex: none;
    margin-top: auto;
  }
}