.svg-symbols {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

[class^='icon-svg-'], [class*=' icon-svg-'] {
  * {
    pointer-events: none;
  }
}

.icon-svg-call-answer {
  width: (21.75em/21.75em*1em);
  height: 1em;
}
//
.icon-svg-close-cross {
  width: (2.563em/2.563em*1em);
  height: 1em;
}
//
.icon-svg-magnifying-glass {
  width: (32em/32em*1em);
  height: 1em;
}
//
.icon-svg-menu-button-of-three-horizontal-lines {
  width: (7.75em/7.75em*1em);
  height: 1em;
}
//
.icon-svg-right-arrow-angle {
  width: (18.695em/32em*1em);
  height: 1em;
}
//
.icon-svg-shopping-basket {
  width: (32em/32em*1em);
  height: 1em;
}
//
.icon-svg-user-shape {
  width: (27.375em/27.375em*1em);
  height: 1em;
}
//